*{
margin-left: 10px;

}

#menuContenedor{
background-color: #f9edf6;/*color de fondo del div*/
padding: 10px;/*espacio interior*/
border-radius: 8px;/*redondeo borde*/
width: 220px;/*ancho del div*/
font-family: arial,verdana,sans-serif;/*familia fuente*/
}

.menu-principal{
list-style-type: none;/*saco viñetas*/
padding:0px;/*dejo sin espacios la primera lista*/
margin: 0px;/*dejo sin espacion entre la lista y el div*/

}

.menu-boton{
padding:10px;/*espacio entre los elementos del menu*/

}

.menu-link{
font-size: 20px;/*tamaño de fuente*/
font-weight: bold;/*negrita*/
color:#4c6e69;/*color de la fuente*/
text-decoration: none;/*subrayado del enlace fuera*/
display:block;/*transforma la etiqueta a en un bloque*/
background-color: #89bad3;/*color del boton*/
border-radius: 10px;/*redondeo de las bordes de la caja*/
padding:5px 10px;/*espacio del enlace dentro de la caja*/
}

.menu-link:hover{

background-color: #850ef5;
color:#f3eff7;

}
.submenu{
list-style-type: none;/*saco viñetas*/
display:none;/*ocultar el submenu*/
padding-left:10px;/*corremos el submenu de izquierda a derecha*/
margin-top: 8px;/*separamos botones uno de otro y del menu principal*/
}

.submenu-link{
display:block;/*enlace le doy la propiedad de bloque*/
text-decoration: none;/*saco el subrayado*/
color: #7106d6;/*color de la fuente*/
padding: 5px ;/*espacio del elemento en el boton*/
font-size: 18px;/*tamaño de fuente*/
font-weight: bold;/*negrita*/

}
.menu-boton:hover .submenu{

display:block;/*al pasar el raton por el boton que tiene submenu 
el submenu se despliega pro la accion del display block*/

}
.submenu-link:hover{

background-color: #ddc1f8;/*color de fondo*/

}

#btn1{
width: 30px;
height: 50px;


}

#dark-mode{
width: 100px;
height: 45px;
border-radius: 10px;
color: black;
background-color: #cdc2d7;
font-weight: bold;


}

body.darkmode{
background-color: #310c84;
color:#f8aaea;

}


